body {
    margin: 0;
}

.cabeza {
    background-color: rgb(32, 155, 226);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    align-items: center;
    height: 60px;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo span {
    font-size: 40px;
}

.enlaces {
    gap: 10px;
    display: none;
}

.enlaces a {
    color: white;
    text-decoration: none;
}

.menu {
    cursor: pointer;
}

.menu-desplegable {
    position: absolute;
    left: 0;
    top: 60px;
    background-color: #4b4b4b8a;
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
    
}

.enlaces-menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
    border-bottom: 1px solid;
}

.enlaces-menu a {
    border-top: 1px solid;
    width: 100%;
    display: flex;
    justify-content: start;
    text-decoration: none;
    color: white;
    padding: 5px;
    }

.desplegar {
    display: block;
}

.bienvenida {
    color: brown;
    background-color: rgb(45, 120, 196);
    background-image: url(../img/fondo.jpeg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.informacion {
   
    padding: 20px 10%;
    text-align: justify;
}
.imagenes {
    background-color: rgb(49, 104, 207);
    border: 7px solid;
    border-color: dodgerblue;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10%;
    justify-content: space-around;
    gap: 40px;

}

.imagenes img {
   background-color: aquamarine;
   
    border-radius: 10px;
    border:7px solid #d45252;
    width: 400px;
    height: 400px;
}

.video {
    border: 7px solid #0e5699;
    background-color: dodgerblue;
    color: white;
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.testimonios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px 50px;
    flex-wrap: wrap;
}

.testimonios video {
    border-radius: 10px;
    border:7px solid white;
    width: 500px;
    height: 600px;
}

.testimonios p {
    min-width: 300px;
    max-width: 500px;
}

.ubicacion {
    color: brown;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.imagen{
   
    width: 5px;
    height: 5px;
}

.productos {
    color:blanchedalmond;
    
    background-color: rgb(21, 179, 179);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10%;
}

.productos img {
    border:7px solid brown;
    border-radius: 10px;
    
    width: 300px;
    height: 300px;
}
.producto {
    justify-content: center;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.precio-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: space-around;
    padding: 50px;
}


.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.red-social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info svg {
    width: 20px;
}

.ubicacion-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ubicacion-logo img {
    width: 20px;
}

.ubicacion-logo h3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-logo img{
    width: 85px;
}



@media (min-width: 900px) {
    .oculto {
        display: none;
    }
    .enlaces {
        display:flex ;
    }
  }
  